In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('ggplot')

------------------------------------------------------------------------------------------------------

## Train Dataset

In [2]:
train_tweets = pd.read_csv("train_tweets.csv")
train_tweets_vectorized_media = pd.read_csv("train_tweets_vectorized_media.csv")
train_tweets_vectorized_text = pd.read_csv("train_tweets_vectorized_text.csv")

In [3]:
train_tweets.head()

,tweet_id,tweet_user_id,tweet_created_at_year,tweet_created_at_month,tweet_created_at_day,tweet_created_at_hour,tweet_hashtag_count,tweet_url_count,tweet_mention_count,tweet_has_attachment,tweet_attachment_class,tweet_language_id,tweet_topic_ids,virality
0,34698,10,2015,12,5,3,2.0,1.0,0.0,False,C,0,"['36', '36', '36', '36', '36', '36', '37', '37...",3
1,24644,4,2020,6,19,0,0.0,1.0,0.0,False,C,0,"['43', '78', '79', '80', '80', '89', '98', '99...",3
2,36321,54,2019,6,2,15,2.0,3.0,0.0,True,A,0,"['79', '80', '98', '98', '98', '99', '99', '10...",1
3,2629,42,2020,9,6,17,0.0,1.0,1.0,True,A,0,"['43', '79', '80', '98', '99', '99', '79', '80']",2
4,28169,32,2020,11,4,17,2.0,1.0,0.0,True,A,0,"['79', '80', '98', '99', '43', '89']",2

In [79]:
train_tweets.shape

(29625, 14)

In [5]:
train_tweets_vectorized_media.head()

,media_id,tweet_id,img_feature_0,img_feature_1,img_feature_2,img_feature_3,img_feature_4,img_feature_5,img_feature_6,img_feature_7,...,img_feature_2038,img_feature_2039,img_feature_2040,img_feature_2041,img_feature_2042,img_feature_2043,img_feature_2044,img_feature_2045,img_feature_2046,img_feature_2047
0,00001_00000,1,0.290614,0.150803,0.008313,0.040887,0.0,0.000000,0.214209,0.000792,...,0.000000,0.249240,0.040368,0.101314,0.000000,0.069272,0.167507,0.044617,0.383093,0.097627
1,00004_00003,4,0.038251,0.036437,0.000000,0.015076,0.0,0.046953,0.648170,0.026476,...,0.024564,0.035555,0.369353,0.000000,0.133307,0.000000,0.000000,0.017894,0.816972,0.058774
2,00005_00004,5,0.506981,0.305467,0.036150,0.114539,0.0,0.146888,0.584753,0.157468,...,0.000000,0.131493,0.268107,0.000000,0.036761,0.008600,0.018883,0.024825,0.123289,0.000000
3,00008_00007,8,0.000000,0.242857,0.000000,0.068217,0.0,0.117847,0.000000,0.000000,...,0.095629,0.221957,0.133745,0.023491,0.000000,0.000000,0.000000,0.065544,1.030737,0.010370
4,00009_00008,9,0.000000,0.141986,0.000000,0.000983,0.0,0.013148,0.066999,0.008579,...,0.000000,0.480097,0.361314,0.026121,0.000000,0.000000,0.000000,0.001085,0.653569,0.007591

In [6]:
train_tweets_vectorized_media.shape

(21010, 2050)

In [7]:
train_tweets_vectorized_text.head()

,tweet_id,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,...,feature_758,feature_759,feature_760,feature_761,feature_762,feature_763,feature_764,feature_765,feature_766,feature_767
0,0,0.125605,-0.136067,-0.121691,-0.160296,-0.074407,0.119014,-0.343523,-0.289790,-0.037007,...,0.215511,-0.330016,-0.143669,-0.017097,0.211852,0.009358,0.205395,-0.100113,0.013015,0.053247
1,1,0.064982,-0.116850,0.034871,-0.090357,-0.067459,0.030954,-0.361263,-0.294617,-0.077854,...,0.193301,-0.391395,-0.120417,-0.072493,0.188275,-0.084694,0.152518,-0.109684,0.034304,0.018237
2,4,0.051160,-0.076732,0.005174,-0.071699,-0.204004,0.034764,-0.320014,-0.231828,-0.121784,...,0.163904,-0.299526,-0.099811,-0.049208,0.170104,-0.125188,0.111381,-0.180564,-0.061082,0.142650
3,5,0.127061,-0.063152,0.010520,0.000385,-0.146983,-0.099981,-0.382142,-0.287832,-0.129653,...,0.168049,-0.355778,-0.150411,-0.067176,0.216000,-0.076183,0.158889,-0.057773,-0.079182,0.057414
4,8,0.144889,-0.084671,0.147057,-0.068760,-0.024226,0.081921,-0.362943,-0.288691,-0.121206,...,0.212959,-0.389882,-0.157168,-0.051536,0.129986,-0.021489,0.184418,-0.058603,-0.023088,0.084837

In [8]:
train_tweets_vectorized_text.shape

(29625, 769)

##### Train Merge

In [49]:
train_merge = train_tweets.merge(train_tweets_vectorized_text,on="tweet_id")
train_merge.head()

,tweet_id,tweet_user_id,tweet_created_at_year,tweet_created_at_month,tweet_created_at_day,tweet_created_at_hour,tweet_hashtag_count,tweet_url_count,tweet_mention_count,tweet_has_attachment,...,feature_758,feature_759,feature_760,feature_761,feature_762,feature_763,feature_764,feature_765,feature_766,feature_767
0,34698,10,2015,12,5,3,2.0,1.0,0.0,False,...,0.220757,-0.241666,-0.158198,0.019527,0.152510,-0.005629,0.109149,-0.120887,-0.108260,0.042735
1,24644,4,2020,6,19,0,0.0,1.0,0.0,False,...,0.161932,-0.333338,-0.203239,-0.016571,0.236075,-0.082233,0.023121,-0.073049,0.004996,0.128096
2,36321,54,2019,6,2,15,2.0,3.0,0.0,True,...,0.195377,-0.369344,-0.055549,-0.024525,0.203524,-0.147225,0.256131,-0.171742,-0.088463,0.125097
3,2629,42,2020,9,6,17,0.0,1.0,1.0,True,...,0.244615,-0.309109,-0.139590,-0.007105,0.272694,-0.049322,0.084901,-0.077607,0.012375,0.179567
4,28169,32,2020,11,4,17,2.0,1.0,0.0,True,...,0.238610,-0.309331,-0.101853,-0.017846,0.204967,-0.091292,0.111976,-0.091429,0.003912,0.023689

In [19]:
train_tweets.nunique()

tweet_id                  29625
tweet_user_id                52
tweet_created_at_year         9
tweet_created_at_month       12
tweet_created_at_day         31
tweet_created_at_hour        24
tweet_hashtag_count          13
tweet_url_count               8
tweet_mention_count          16
tweet_has_attachment          2
tweet_attachment_class        3
tweet_language_id            30
tweet_topic_ids            4307
virality                      5
dtype: int64

In [3]:
train_merge = train_tweets.merge(train_tweets_vectorized_text,on="tweet_id")
train_merge.head()

,tweet_id,tweet_user_id,tweet_created_at_year,tweet_created_at_month,tweet_created_at_day,tweet_created_at_hour,tweet_hashtag_count,tweet_url_count,tweet_mention_count,tweet_has_attachment,...,feature_758,feature_759,feature_760,feature_761,feature_762,feature_763,feature_764,feature_765,feature_766,feature_767
0,34698,10,2015,12,5,3,2.0,1.0,0.0,False,...,0.220757,-0.241666,-0.158198,0.019527,0.152510,-0.005629,0.109149,-0.120887,-0.108260,0.042735
1,24644,4,2020,6,19,0,0.0,1.0,0.0,False,...,0.161932,-0.333338,-0.203239,-0.016571,0.236075,-0.082233,0.023121,-0.073049,0.004996,0.128096
2,36321,54,2019,6,2,15,2.0,3.0,0.0,True,...,0.195377,-0.369344,-0.055549,-0.024525,0.203524,-0.147225,0.256131,-0.171742,-0.088463,0.125097
3,2629,42,2020,9,6,17,0.0,1.0,1.0,True,...,0.244615,-0.309109,-0.139590,-0.007105,0.272694,-0.049322,0.084901,-0.077607,0.012375,0.179567
4,28169,32,2020,11,4,17,2.0,1.0,0.0,True,...,0.238610,-0.309331,-0.101853,-0.017846,0.204967,-0.091292,0.111976,-0.091429,0.003912,0.023689

In [4]:
train_merged = train_merge.copy()

## Test Dataset

In [5]:
test_tweets = pd.read_csv("test_tweets.csv")
test_tweets_vectorized_media = pd.read_csv("test_tweets_vectorized_media.csv")
test_tweets_vectorized_text = pd.read_csv("test_tweets_vectorized_text.csv")

In [10]:
test_tweets.head()

,tweet_id,tweet_user_id,tweet_created_at_year,tweet_created_at_month,tweet_created_at_day,tweet_created_at_hour,tweet_hashtag_count,tweet_url_count,tweet_mention_count,tweet_has_attachment,tweet_attachment_class,tweet_language_id,tweet_topic_ids
0,6238,13,2020,7,26,10,5.0,2.0,0.0,True,A,0,"['98', '99', '99', '99', '99', '78', '79', '80']"
1,37458,14,2018,1,15,18,0.0,0.0,1.0,False,C,0,"['78', '79', '80', '98']"
2,23968,50,2019,2,25,20,0.0,1.0,0.0,False,C,0,"['78', '79', '80']"
3,24137,50,2018,12,8,21,0.0,1.0,1.0,False,C,0,"['78', '79', '80']"
4,8064,30,2020,9,29,16,2.0,2.0,0.0,True,A,0,"['78', '79', '79', '80', '98', '99']"

In [11]:
print(test_tweets.shape)

(12697, 13)

In [12]:
test_tweets_vectorized_media.head()

,media_id,tweet_id,img_feature_0,img_feature_1,img_feature_2,img_feature_3,img_feature_4,img_feature_5,img_feature_6,img_feature_7,...,img_feature_2038,img_feature_2039,img_feature_2040,img_feature_2041,img_feature_2042,img_feature_2043,img_feature_2044,img_feature_2045,img_feature_2046,img_feature_2047
0,00002_00001,2,0.000000,0.016081,0.000000,0.000000,0.001194,0.000322,0.118504,0.042140,...,0.000000,0.000000,0.183868,0.000000,0.019187,0.082369,0.000000,0.194479,0.018838,0.000000
1,00003_00002,3,0.003806,0.023325,0.000000,0.167348,0.001741,0.010796,0.105136,0.148292,...,0.011966,0.019628,0.036557,0.025443,0.024496,0.117886,0.217414,0.081287,0.680597,0.036251
2,00006_00005,6,0.000000,0.004787,0.000000,0.000294,0.000000,0.000000,0.834047,0.000000,...,0.000000,0.574985,0.337715,0.000000,0.008109,0.011459,0.000000,0.107128,0.618582,0.000000
3,00007_00006,7,0.383304,0.398248,0.277657,0.000000,0.000000,0.077686,0.679053,0.009597,...,0.000000,0.004702,0.012687,0.001625,0.069617,0.386826,0.000000,0.000000,0.177305,0.010666
4,00011_00010,11,0.029026,0.095639,0.365567,0.042768,0.000000,0.143966,0.218928,0.001870,...,0.086705,0.353114,0.299772,0.000000,0.000000,0.035106,0.097326,0.035827,0.418399,0.256152

In [13]:
test_tweets_vectorized_media.shape

(8946, 2050)

In [14]:
test_tweets_vectorized_text.head()

,tweet_id,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,...,feature_758,feature_759,feature_760,feature_761,feature_762,feature_763,feature_764,feature_765,feature_766,feature_767
0,2,0.101481,-0.131454,-0.146654,-0.030323,-0.139516,0.150010,-0.404427,-0.295197,-0.085250,...,0.169962,-0.392409,-0.141142,-0.075614,0.188150,-0.033502,0.216239,-0.082687,-0.040898,0.084122
1,3,0.108579,-0.127308,-0.021389,-0.134694,-0.146556,0.040285,-0.417345,-0.203464,-0.083089,...,0.203883,-0.288356,-0.098258,-0.086192,0.175236,-0.019377,0.162287,-0.062708,-0.109690,0.020241
2,6,0.095509,-0.156624,0.023417,-0.053654,-0.049907,-0.047118,-0.387326,-0.341142,-0.075349,...,0.251440,-0.360862,-0.089646,-0.069357,0.123380,-0.035298,0.155410,-0.084709,-0.168565,0.076019
3,7,0.119820,-0.021978,0.065275,-0.007866,-0.117128,-0.039506,-0.385253,-0.307274,-0.164742,...,0.214060,-0.304951,-0.064675,-0.050912,0.263544,-0.126342,0.143381,-0.099286,-0.023067,0.070686
4,11,0.204415,-0.103907,0.097340,-0.039015,-0.051079,-0.017416,-0.341164,-0.296294,-0.091466,...,0.200454,-0.415403,-0.056061,-0.001855,0.154439,-0.062715,0.142377,-0.072045,-0.012837,0.074943

In [15]:
test_tweets_vectorized_text.shape

(12697, 769)

In [6]:
test_merge = test_tweets.merge(test_tweets_vectorized_text,on="tweet_id")
test_merge.head()

,tweet_id,tweet_user_id,tweet_created_at_year,tweet_created_at_month,tweet_created_at_day,tweet_created_at_hour,tweet_hashtag_count,tweet_url_count,tweet_mention_count,tweet_has_attachment,...,feature_758,feature_759,feature_760,feature_761,feature_762,feature_763,feature_764,feature_765,feature_766,feature_767
0,6238,13,2020,7,26,10,5.0,2.0,0.0,True,...,0.185330,-0.363696,-0.197647,-0.159468,0.278922,-0.055326,0.199862,-0.142632,0.080901,0.074962
1,37458,14,2018,1,15,18,0.0,0.0,1.0,False,...,0.146669,-0.285472,-0.239169,0.030360,0.267177,-0.076170,0.168150,-0.095821,-0.016756,0.076565
2,23968,50,2019,2,25,20,0.0,1.0,0.0,False,...,0.196982,-0.296057,-0.207267,0.013621,0.192339,0.017761,0.113541,-0.122684,-0.086870,0.131265
3,24137,50,2018,12,8,21,0.0,1.0,1.0,False,...,0.143180,-0.323972,-0.233354,-0.011327,0.217256,-0.047858,0.152392,-0.132160,-0.013570,0.053152
4,8064,30,2020,9,29,16,2.0,2.0,0.0,True,...,0.171745,-0.279714,-0.186717,0.054343,0.249657,-0.046947,0.178024,-0.162317,-0.002325,0.092072

In [7]:
test_merged = test_merge.copy()

## User Dataset

In [73]:
users = pd.read_csv("users.csv")
user_vectorized_descriptions = pd.read_csv("user_vectorized_descriptions.csv")
user_vectorized_profile_images = pd.read_csv("user_vectorized_profile_images.csv")

In [74]:
users.head()

,user_id,user_like_count,user_followers_count,user_following_count,user_listed_on_count,user_has_location,user_tweet_count,user_has_url,user_verified,user_created_at_year,user_created_at_month
0,0,1164,48720,70469,5956,True,14122,True,0,2010,8
1,1,3914,85361,2171,5943,False,6957,False,0,2011,9
2,2,8292,200944,1416,8379,True,83485,True,0,2011,6
3,3,1770,15385,4572,1866,True,12265,True,0,2011,8
4,4,15311,459083,1021,7368,False,121193,False,0,2011,6

In [36]:
users.shape

(52, 11)

In [40]:
users.user_id.max()

55

In [34]:
user_vectorized_descriptions.head()

,user_id,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,...,feature_758,feature_759,feature_760,feature_761,feature_762,feature_763,feature_764,feature_765,feature_766,feature_767
0,0,0.132536,-0.137393,-0.064037,-0.118342,-0.130279,0.048067,-0.421301,-0.313038,0.047779,...,0.238264,-0.315408,-0.159851,-0.003840,0.213492,0.002498,0.177574,-0.136515,-0.012882,0.017399
1,1,0.107849,-0.168418,0.027251,-0.075079,-0.084762,0.076149,-0.390708,-0.271934,0.007423,...,0.232922,-0.314534,-0.177011,-0.041710,0.209785,-0.023427,0.158203,-0.143221,0.030484,0.081693
2,2,0.122312,-0.159376,-0.073417,-0.149442,-0.122684,-0.005277,-0.351233,-0.297342,-0.006010,...,0.173621,-0.292476,-0.185078,-0.026784,0.184902,0.009539,0.217004,-0.091951,0.025304,0.058501
3,3,0.160509,-0.137915,-0.002524,-0.034696,0.028126,0.056299,-0.365196,-0.259523,-0.037929,...,0.205752,-0.300688,-0.133753,0.002206,0.245214,-0.056659,0.152064,-0.180211,0.022327,0.014688
4,4,0.099192,-0.140809,-0.012423,-0.150097,-0.120169,0.054078,-0.384291,-0.269650,-0.046161,...,0.179307,-0.367725,-0.217667,-0.064391,0.163382,-0.020638,0.181554,-0.200262,-0.074513,0.037301

In [52]:
user_vectorized_profile_images.head()

,user_id,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,...,feature_2038,feature_2039,feature_2040,feature_2041,feature_2042,feature_2043,feature_2044,feature_2045,feature_2046,feature_2047
0,0,0.449126,0.000000,0.000000,0.0,0.006348,0.000000,0.059772,0.026143,0.013903,...,0.202886,0.000000,0.414033,0.000000,0.001876,0.000000,0.00000,0.000000,0.192305,0.000009
1,1,0.017050,0.009737,0.002633,0.0,0.000000,0.000000,1.184751,0.000000,0.000000,...,0.111723,0.086082,0.000000,0.000000,0.412172,0.000000,0.00000,0.254945,0.536927,0.460923
2,2,0.000000,0.068666,0.000000,0.0,0.000000,0.085349,0.349153,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.054352,0.000000,0.219981,0.00000,0.000000,0.150882,0.000000
3,3,0.000000,0.168951,0.118449,0.0,0.000000,0.000000,0.392767,0.000000,0.000000,...,0.000000,0.168835,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.424234,0.000000
4,4,0.286990,0.299091,0.138534,0.0,0.000000,0.000000,0.360286,0.042764,0.014573,...,0.163468,0.001998,0.224525,0.000000,0.235216,0.000000,0.01757,0.000000,0.059346,0.000000

In [59]:
user_merge = users.merge(user_vectorized_descriptions,on="user_id")
user_merge.head()

,user_id,user_like_count,user_followers_count,user_following_count,user_listed_on_count,user_has_location,user_tweet_count,user_has_url,user_verified,user_created_at_year,...,feature_758,feature_759,feature_760,feature_761,feature_762,feature_763,feature_764,feature_765,feature_766,feature_767
0,0,1164,48720,70469,5956,True,14122,True,0,2010,...,0.238264,-0.315408,-0.159851,-0.003840,0.213492,0.002498,0.177574,-0.136515,-0.012882,0.017399
1,1,3914,85361,2171,5943,False,6957,False,0,2011,...,0.232922,-0.314534,-0.177011,-0.041710,0.209785,-0.023427,0.158203,-0.143221,0.030484,0.081693
2,2,8292,200944,1416,8379,True,83485,True,0,2011,...,0.173621,-0.292476,-0.185078,-0.026784,0.184902,0.009539,0.217004,-0.091951,0.025304,0.058501
3,3,1770,15385,4572,1866,True,12265,True,0,2011,...,0.205752,-0.300688,-0.133753,0.002206,0.245214,-0.056659,0.152064,-0.180211,0.022327,0.014688
4,4,15311,459083,1021,7368,False,121193,False,0,2011,...,0.179307,-0.367725,-0.217667,-0.064391,0.163382,-0.020638,0.181554,-0.200262,-0.074513,0.037301

# Feature Transformation Train and Test

In [80]:
def null_percentage(df):
    null_sum = df.isnull().sum()
    for i,name in enumerate(df.columns):
        if null_sum[i] > 0:
            print(f"The Percentage of Null Values in {name} is {(null_sum[i]/df.shape[0])*100} %")

In [81]:
null_percentage(train_merged)

The Percentage of Null Values in tweet_topic_ids is 14.464135021097047 %

### Encoding The Categorical Columns

In [8]:
######################################################## For Test topic id too 
from sklearn.preprocessing import LabelEncoder
categorical_features = ['tweet_topic_ids']

# make an encoder object
encoder = LabelEncoder()

# fit and transform feature x2
for col in categorical_features:
    encoder.fit(pd.concat([train_merged[col], test_merged[col]], axis=0, sort=False))
    train_merged[col] = encoder.transform(train_merged[col])
    test_merged[col] = encoder.transform(test_merged[col])

In [84]:
train_tweets.head()

,tweet_id,tweet_user_id,tweet_created_at_year,tweet_created_at_month,tweet_created_at_day,tweet_created_at_hour,tweet_hashtag_count,tweet_url_count,tweet_mention_count,tweet_has_attachment,tweet_attachment_class,tweet_language_id,tweet_topic_ids,virality
0,34698,10,2015,12,5,3,2.0,1.0,0.0,False,C,0,"['36', '36', '36', '36', '36', '36', '37', '37...",3
1,24644,4,2020,6,19,0,0.0,1.0,0.0,False,C,0,"['43', '78', '79', '80', '80', '89', '98', '99...",3
2,36321,54,2019,6,2,15,2.0,3.0,0.0,True,A,0,"['79', '80', '98', '98', '98', '99', '99', '10...",1
3,2629,42,2020,9,6,17,0.0,1.0,1.0,True,A,0,"['43', '79', '80', '98', '99', '99', '79', '80']",2
4,28169,32,2020,11,4,17,2.0,1.0,0.0,True,A,0,"['79', '80', '98', '99', '43', '89']",2

In [87]:
tw = train_merged.select_dtypes(include=["object","bool"])
tw

       tweet_has_attachment tweet_attachment_class
0                     False                      C
1                     False                      C
2                      True                      A
3                      True                      A
4                      True                      A
...                     ...                    ...
29620                  True                      A
29621                  True                      A
29622                  True                      A
29623                  True                      A
29624                 False                      C

[29625 rows x 2 columns]

In [105]:
train_merged.head()

,tweet_id,tweet_user_id,tweet_created_at_year,tweet_created_at_month,tweet_created_at_day,tweet_created_at_hour,tweet_hashtag_count,tweet_url_count,tweet_mention_count,tweet_has_attachment,...,feature_758,feature_759,feature_760,feature_761,feature_762,feature_763,feature_764,feature_765,feature_766,feature_767
0,34698,10,2015,12,5,3,2.0,1.0,0.0,False,...,0.220757,-0.241666,-0.158198,0.019527,0.152510,-0.005629,0.109149,-0.120887,-0.108260,0.042735
1,24644,4,2020,6,19,0,0.0,1.0,0.0,False,...,0.161932,-0.333338,-0.203239,-0.016571,0.236075,-0.082233,0.023121,-0.073049,0.004996,0.128096
2,36321,54,2019,6,2,15,2.0,3.0,0.0,True,...,0.195377,-0.369344,-0.055549,-0.024525,0.203524,-0.147225,0.256131,-0.171742,-0.088463,0.125097
3,2629,42,2020,9,6,17,0.0,1.0,1.0,True,...,0.244615,-0.309109,-0.139590,-0.007105,0.272694,-0.049322,0.084901,-0.077607,0.012375,0.179567
4,28169,32,2020,11,4,17,2.0,1.0,0.0,True,...,0.238610,-0.309331,-0.101853,-0.017846,0.204967,-0.091292,0.111976,-0.091429,0.003912,0.023689

In [9]:
df = pd.get_dummies(train_merged)

In [10]:
df.head()

,tweet_id,tweet_user_id,tweet_created_at_year,tweet_created_at_month,tweet_created_at_day,tweet_created_at_hour,tweet_hashtag_count,tweet_url_count,tweet_mention_count,tweet_has_attachment,...,feature_761,feature_762,feature_763,feature_764,feature_765,feature_766,feature_767,tweet_attachment_class_A,tweet_attachment_class_B,tweet_attachment_class_C
0,34698,10,2015,12,5,3,2.0,1.0,0.0,False,...,0.019527,0.152510,-0.005629,0.109149,-0.120887,-0.108260,0.042735,0,0,1
1,24644,4,2020,6,19,0,0.0,1.0,0.0,False,...,-0.016571,0.236075,-0.082233,0.023121,-0.073049,0.004996,0.128096,0,0,1
2,36321,54,2019,6,2,15,2.0,3.0,0.0,True,...,-0.024525,0.203524,-0.147225,0.256131,-0.171742,-0.088463,0.125097,1,0,0
3,2629,42,2020,9,6,17,0.0,1.0,1.0,True,...,-0.007105,0.272694,-0.049322,0.084901,-0.077607,0.012375,0.179567,1,0,0
4,28169,32,2020,11,4,17,2.0,1.0,0.0,True,...,-0.017846,0.204967,-0.091292,0.111976,-0.091429,0.003912,0.023689,1,0,0

In [111]:
df.tweet_attachment_class_C

0        1
1        1
2        0
3        0
4        0
        ..
29620    0
29621    0
29622    0
29623    0
29624    1
Name: tweet_attachment_class_C, Length: 29625, dtype: uint8

In [11]:
df.replace({False: 0, True: 1}, inplace=True)

In [113]:
df.head()

,tweet_id,tweet_user_id,tweet_created_at_year,tweet_created_at_month,tweet_created_at_day,tweet_created_at_hour,tweet_hashtag_count,tweet_url_count,tweet_mention_count,tweet_has_attachment,...,feature_761,feature_762,feature_763,feature_764,feature_765,feature_766,feature_767,tweet_attachment_class_A,tweet_attachment_class_B,tweet_attachment_class_C
0,34698,10,2015,12,5,3,2.0,1.0,0.0,0,...,0.019527,0.152510,-0.005629,0.109149,-0.120887,-0.108260,0.042735,0,0,1
1,24644,4,2020,6,19,0,0.0,1.0,0.0,0,...,-0.016571,0.236075,-0.082233,0.023121,-0.073049,0.004996,0.128096,0,0,1
2,36321,54,2019,6,2,15,2.0,3.0,0.0,1,...,-0.024525,0.203524,-0.147225,0.256131,-0.171742,-0.088463,0.125097,1,0,0
3,2629,42,2020,9,6,17,0.0,1.0,1.0,1,...,-0.007105,0.272694,-0.049322,0.084901,-0.077607,0.012375,0.179567,1,0,0
4,28169,32,2020,11,4,17,2.0,1.0,0.0,1,...,-0.017846,0.204967,-0.091292,0.111976,-0.091429,0.003912,0.023689,1,0,0

In [117]:
df.virality

0        3
1        3
2        1
3        2
4        2
        ..
29620    3
29621    2
29622    2
29623    2
29624    2
Name: virality, Length: 29625, dtype: int64

### Encoding Test Data

In [114]:
test_merged.head()

,tweet_id,tweet_user_id,tweet_created_at_year,tweet_created_at_month,tweet_created_at_day,tweet_created_at_hour,tweet_hashtag_count,tweet_url_count,tweet_mention_count,tweet_has_attachment,...,feature_758,feature_759,feature_760,feature_761,feature_762,feature_763,feature_764,feature_765,feature_766,feature_767
0,6238,13,2020,7,26,10,5.0,2.0,0.0,True,...,0.185330,-0.363696,-0.197647,-0.159468,0.278922,-0.055326,0.199862,-0.142632,0.080901,0.074962
1,37458,14,2018,1,15,18,0.0,0.0,1.0,False,...,0.146669,-0.285472,-0.239169,0.030360,0.267177,-0.076170,0.168150,-0.095821,-0.016756,0.076565
2,23968,50,2019,2,25,20,0.0,1.0,0.0,False,...,0.196982,-0.296057,-0.207267,0.013621,0.192339,0.017761,0.113541,-0.122684,-0.086870,0.131265
3,24137,50,2018,12,8,21,0.0,1.0,1.0,False,...,0.143180,-0.323972,-0.233354,-0.011327,0.217256,-0.047858,0.152392,-0.132160,-0.013570,0.053152
4,8064,30,2020,9,29,16,2.0,2.0,0.0,True,...,0.171745,-0.279714,-0.186717,0.054343,0.249657,-0.046947,0.178024,-0.162317,-0.002325,0.092072

In [12]:
df_test = pd.get_dummies(test_merged)
df_test.head()

,tweet_id,tweet_user_id,tweet_created_at_year,tweet_created_at_month,tweet_created_at_day,tweet_created_at_hour,tweet_hashtag_count,tweet_url_count,tweet_mention_count,tweet_has_attachment,...,feature_761,feature_762,feature_763,feature_764,feature_765,feature_766,feature_767,tweet_attachment_class_A,tweet_attachment_class_B,tweet_attachment_class_C
0,6238,13,2020,7,26,10,5.0,2.0,0.0,True,...,-0.159468,0.278922,-0.055326,0.199862,-0.142632,0.080901,0.074962,1,0,0
1,37458,14,2018,1,15,18,0.0,0.0,1.0,False,...,0.030360,0.267177,-0.076170,0.168150,-0.095821,-0.016756,0.076565,0,0,1
2,23968,50,2019,2,25,20,0.0,1.0,0.0,False,...,0.013621,0.192339,0.017761,0.113541,-0.122684,-0.086870,0.131265,0,0,1
3,24137,50,2018,12,8,21,0.0,1.0,1.0,False,...,-0.011327,0.217256,-0.047858,0.152392,-0.132160,-0.013570,0.053152,0,0,1
4,8064,30,2020,9,29,16,2.0,2.0,0.0,True,...,0.054343,0.249657,-0.046947,0.178024,-0.162317,-0.002325,0.092072,1,0,0

In [13]:
df_test.replace({False: 0, True: 1}, inplace=True)

In [18]:
df.to_csv("train.csv",index=False)

In [19]:
pd.read_csv("train.csv")

,tweet_id,tweet_user_id,tweet_created_at_year,tweet_created_at_month,tweet_created_at_day,tweet_created_at_hour,tweet_hashtag_count,tweet_url_count,tweet_mention_count,tweet_has_attachment,...,feature_761,feature_762,feature_763,feature_764,feature_765,feature_766,feature_767,tweet_attachment_class_A,tweet_attachment_class_B,tweet_attachment_class_C
0,34698,10,2015,12,5,3,2.0,1.0,0.0,0,...,0.019527,0.152510,-0.005629,0.109149,-0.120887,-0.108260,0.042735,0,0,1
1,24644,4,2020,6,19,0,0.0,1.0,0.0,0,...,-0.016571,0.236075,-0.082233,0.023121,-0.073049,0.004996,0.128096,0,0,1
2,36321,54,2019,6,2,15,2.0,3.0,0.0,1,...,-0.024525,0.203524,-0.147225,0.256131,-0.171742,-0.088463,0.125097,1,0,0
3,2629,42,2020,9,6,17,0.0,1.0,1.0,1,...,-0.007105,0.272694,-0.049322,0.084901,-0.077607,0.012375,0.179567,1,0,0
4,28169,32,2020,11,4,17,2.0,1.0,0.0,1,...,-0.017846,0.204967,-0.091292,0.111976,-0.091429,0.003912,0.023689,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29620,24846,4,2019,8,30,17,0.0,1.0,0.0,1,...,-0.061260,0.199075,0.000089,0.157162,-0.123119,0.007565,0.071014,1,0,0
29621,7320,21,2018,12,21,13,2.0,1.0,0.0,1,...,-0.027547,0.197607,-0.005864,0.096758,-0.080403,-0.040130,0.060041,1,0,0
29622,7447,21,2018,9,29,18,0.0,1.0,0.0,1,...,0.010852,0.219879,-0.064597,0.120886,-0.091925,-0.080569,0.108437,1,0,0
29623,26737,41,2017,2,5,16,0.0,2.0,0.0,1,...,0.032220,0.228909,0.020160,0.113996,-0.162599,-0.025624,0.044882,1,0,0
29624,5151,1,2020,3,15,17,2.0,1.0,1.0,0,...,-0.147305,0.194734,-0.057481,0.066683,-0.105241,-0.000453,0.091934,0,0,1

In [21]:
df_test.to_csv("test.csv",index=False)

## Dropping Unnecessary Data's from Train and Test

In [123]:
df.drop(["tweet_id","tweet_user_id"],axis=1)
df_test.drop(["tweet_id","tweet_user_id"],axis=1)

print(df.shape)
print(df_test.shape)

(29625, 784)
(12697, 783)

### Splitting the Data

In [174]:
X = df.drop("virality",axis=1)
y = df.virality

In [175]:
from sklearn.model_selection import train_test_split
X_train, X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [147]:
from sklearn.metrics import accuracy_score
from lightgbm import LGBMClassifier
from catboost import CatBoostClassifier

### LGB Model

In [159]:
lgb = LGBMClassifier()

In [160]:
clflgb = lgb.fit(X_train_trf,y_train)

In [161]:
y_pred_lgb = clflgb.predict(X_test_trf)

In [162]:
accuracy_score(y_test,y_pred_lgb)

0.5451476793248945

### LGB without transformation

In [176]:
clflgb = lgb.fit(X_train,y_train)

In [177]:
y_pred_ntrf = clflgb.predict(X_test)

In [ ]:
accuracy_score(y_test,y_pred_ntrf)

In [182]:
lbg_predict = clflgb.predict(df_test)

In [183]:
sub = pd.read_csv("solution_format.csv")
sub.head()

   tweet_id  virality
0      6238       NaN
1     37458       NaN
2     23968       NaN
3     24137       NaN
4      8064       NaN

In [184]:
sub["virality"] = lbg_predict
sub.head()

   tweet_id  virality
0      6238         2
1     37458         1
2     23968         2
3     24137         1
4      8064         2

In [168]:
sub.to_csv("FinalSubmissionlgb.csv",index=False)

### New Model Implementation

### Random Forest

In [185]:
from sklearn.ensemble import RandomForestClassifier

In [186]:
rfc = RandomForestClassifier()
rfc.fit(X_train,y_train)

RandomForestClassifier()

In [187]:
y_pred_rfc = rfc.predict(X_test)
accuracy_score(y_test,y_pred_rfc)

0.5475105485232068

### Decision Tree

In [188]:
from sklearn.tree import DecisionTreeClassifier

In [189]:
dc = DecisionTreeClassifier()
dc.fit(X_train,y_train)

DecisionTreeClassifier()

In [190]:
y_pred_dc = rfc.predict(X_test)
accuracy_score(y_test,y_pred_dc)

0.5475105485232068

### XGBOOST

In [191]:
from xgboost import XGBClassifier
xgb = XGBClassifier()

In [ ]:
dc = DecisionTreeClassifier()
dc.fit(X_train,y_train)
y_pred_dc = rfc.predict(X_test)
accuracy_score(y_test,y_pred_dc)

### Trying Out Other Models

In [194]:
from lightgbm import LGBMClassifier
from catboost import CatBoostClassifier
from xgboost import XGBClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC  
from sklearn.ensemble import VotingClassifier
from sklearn.ensemble import AdaBoostClassifier
# clf = SVC(kernel='linear')

In [198]:
lgb = LGBMClassifier()
cb = CatBoostClassifier(metric_period=100)
xgb = XGBClassifier()
dtc = DecisionTreeClassifier()
lr = LogisticRegression()
knn = KNeighborsClassifier()
svm = SVC(kernel='linear')
vc = VotingClassifier(estimators=10)
adc = AdaBoostClassifier()

In [199]:
models = [lgb,cb,xgb,dtc,lr,knn,svm,vc,adc]

In [203]:
list_of_model_performances = []
def fit_model(models):
    for model in models:
        model.fit(X_train,y_train)
        y_pred = model.predict(X_test)
        list_of_model_performances.append((model,accuracy_score(y_test,y_pred)))

In [ ]:
fit_model(models)

Learning rate set to 0.09299
0:	learn: 1.5450420	total: 1.8s	remaining: 30m 3s

In [ ]:
list_of_model_performances